$textColor: #030504;

.icClose {
    color: $textColor;
    font-size: 22px;
}

.input {
    border-radius: 3px;
    font-size: 15px;
}

.label {
    color: #18203f;
    // text-transform: uppercase;
    // font-weight: bold;
    font-size: 12px;
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
}

.lineView {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0px;
    .line {
        height: 1px;
        background-color: #5DCAE8;
        flex: 1;
    }
    .lineText {
        color: #5DCAE8;
        font-size: 15px;
        margin: 0px 26px;
    }
}

.socialView {
    .btnFb, .btnGg {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: center;
        height: 42px;
        border: none;
    }
    .btnGg {
        margin-bottom: 10px;
        background-color: #EE6565;
    }

    .btnFb {
        background-color: #3F97DB;
    }

    .txt {
        padding-left: 10px;
        font-size: 15px;
    }
}

.youAreMember {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    // margin-top: 15px;
    .youAreMemberTxt {
        color: #999999;
        font-size: 15px;
        padding-right: 5px;
    }
}

.youAreMemberTxt2 {
    color: #F492B3;
    font-size: 15px;
    padding-right: 5px;
    cursor: pointer;
}

.notMemberView {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.hack {
    height: 15px;
}

.labelForgot {
    text-align: center;
    font-size: 15px;
    color: #333333;
    width: 70%;
    margin: 0px auto 21px auto;
}

.wrapper_input_otp {
    justify-content: space-around;
    .input_otp {
        width: 40px !important;
        border-bottom: 1px solid #B8BDD1;
        border-left: none;
        border-right: none;
        border-top: none;
        font-size: 25px;
        &:focus {
            outline: none;
        }
    }
}