@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import '../../../styles/variables.scss';

.navbarContainer {
    background: $primaryColor;
    height: 100px;
}

.navbar {
    display: flex;
    align-items: center;
    font-size: 17px;
    justify-content: space-between;
}

.navbarLogo {
    color: #fff;
    justify-self: start;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbarScrolled {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.fa-firstdraft {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.navMenu {
    // display: grid;
    // -template-columns: repeat(9, auto);
    // justify-content: end;
    // margin-right: 2.1rem;
    // margin-top: 1rem;
    list-style: none;
    text-align: center;
    width: 90vw;
    display: flex;
    justify-content: flex-end;
}

.navItem {
    display: flex;
    align-items: center;
    height: 100px;
}

.navLinks {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid $primaryColor;
}

.icUser {
    // padding-right: 0px;
    margin-right: -1rem;
}

.navLinksActive {
    color: white;
    text-decoration: none;
    // padding: 0.5rem 1rem;
    // border-bottom: 2px solid white;
}

.navLinksActive:hover {
    color: white;
    transition: all 0.2s ease-out;
}

.navLinks:hover {
    color: white;
    transition: all 0.2s ease-out;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.navLinksActive::after, .navLinks::after {
    content: '';
    display: block;
    height: 2px;
    background: #fff;
}
.navLinksActive::after {
    width: 100%;
}

.navLinks::after {
    width: 0;
    transition: width .3s;
}

.navLinks:hover::after {
    width: 100%;
    //transition: width .3s;
}

.nonBorder:hover::after {
    width: 0;
}

@keyframes hoverNavbar {
    0%   {border-bottom: 2px solid white;}
}

.faBars {
    color: #fff;
}

.navLinksMobile {
    display: none;
}

.menuIcon {
    display: none;
}

.iconInputSearch {
    width: 18px;
    color: $primaryColor;
}

.inputSearch {
    border-radius: 30px;
    width: 120px;
}

.cartView {
    padding: 0;
    position: relative;
    &:hover {
        padding: 0;
    }
}

.badgeView {
    border: 2px solid white;
    background-color: #FFA200;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 1;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    font-size: 15px;
    text-align: center;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .navMenu {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .active {
        background: $activeMenuJadeBlue;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 18;
        top: 82%;
    }

    .navLinks {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navLinks:hover {
        color: white;
        background-color: $hoverDarkBlue;
        border-radius: 0;
    }

    .navbarLogo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 5%);
    }

    .menuIcon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .faTimes {
        color: #fff;
        font-size: 2rem;
    }

    .navLinksMobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: #1888ff;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }

    .navLinksMobile:hover {
        background: #fff;
        color: #1888ff;
        transition: 250ms;
    }
}
