@import './variables';

.mainBecomeTeacher {
    .bodyBecome {
        margin-top: 40px;
        min-height: 1543px;
        .header {
            margin-bottom: 40px;
            text-align: center;
            label {
                font-size: 35px;
                font-weight: bold;
                margin-bottom: 20px;
            }
            p {
                font-size: 25px;
                font-weight: 600;
            }
        }
        .formRegister {
            .titleRegister {
                margin-bottom: 40px;
                label {
                    font-size: 30px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
                .lineBottom {
                    border-bottom: 5px solid $primaryColor;
                    width: 10.9%;
                }
            }
            .formMain {
                .ant-form {
                    .ant-form-item {
                        input {
                            height: 60px;
                            border-radius: 7px;
                            font-size: 18px;
                        }
                    }
                    .ant-form-item {
                        textarea {
                            font-size: 18px;
                            min-height: 326px;
                            border-radius: 7px;
                        }
                    }
                    .btnSubmit {
                        margin: 0 auto;
                        height: 70px;
                        width: 376px;
                        border-radius: 7px;
                        background: $primaryColor;
                        font-size: 25px;
                        color: $backgroundColorLight;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px ) {
    .mainBecomeTeacher {
        .bodyBecome {
            .formRegister {
                .formMain {
                    .btnSubmit {
                        width: 100%;
                    }
                }
            }
        }
    }
}