.scale12 {
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
        transition: all 500ms;
    }
}

.scale15 {
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
        transition: all 500ms;
    }
}

.hoverOverlay {
    &:hover {
        opacity: 0.8;
        transform: scale(1.01);
        transition: all 500ms;
    }
}

.pointer {
    &:hover {
        cursor: pointer;
    }
}