@import './variables';

.mainIntroduce {

    .bodyIntroduce {
        text-align: center;
        margin-top: 50px;
        .aboutUsTitle {
            margin-bottom: 50px;
            label {
                font-size: 30px;
                font-weight: bold;
                text-transform: uppercase;
            }
            .lineBottom {
                border-bottom: 5px solid $primaryColor;
                width: 5.6%;
                margin: 0 auto;
            }
        }
        .information {
            margin-bottom: 50px;
            .description {
                margin-top: 30px;
                text-align: start;
                font-size: 17px;
            }
        }
        .slogan {
            display: flex;
            .logo {
                width: 50%;
                text-align: start;
            }
            .mainSlogan {
                width: 50%;
                text-align: start;
                label {
                    font-size: 25px;
                    font-weight: bold;
                    color: $primaryColor;
                }
                p {
                    font-size: 17px;
                    font-weight: 600;
                }
                .lineBottom {
                    border-bottom: 5px solid $primaryColor;
                    width: 9.5%;
                    margin-bottom: 24.5px;
                }
                .vision {
                    margin-bottom: 40px;
                }
                .mission {
                    margin-bottom: 40px;
                }
            }
        }
    }

    .teacherStaff {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 100px;
        .aboutUsTitle {
            margin-bottom: 30px;
            label {
                font-size: 30px;
                font-weight: bold;
                text-transform: uppercase;
            }
            .lineBottom {
                border-bottom: 5px solid $primaryColor;
                width: 13.68%;
                margin: 0 auto;
            }
        }
        .shortDes {
            font-size: 16px;
            margin-bottom: 29px;
            text-align: start;
        }
        .listTeacher {
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-column-gap: 20px;
            .teacher {
                min-height: 427px;
                max-width: 377px;
                margin-bottom: 60px;
                box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
                .header {
                    display: flex;
                    padding: 8px 16.4px 8px 16.4px;
                    background-color: $primaryColor;
                    min-height: 77.9px;
                    .rightInfo {
                        margin-left: 6.1%;
                        text-align: start;
                        color: $backgroundColorLight;
                        label {
                            font-size: 19px;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                        p {
                            font-weight: bold;
                            font-size: 14px;
                        }
                    }
                }
                .body {
                    font-size: 16px;
                    padding: 20px 20px;
                    text-align: start;
                    min-height: 394.1px;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .mainIntroduce {
        .bodyIntroduce {
            .slogan {
                .logo {
                    img {
                        width: 93.1%;
                    }
                }
            }
        }
        .teacherStaff {
            .listTeacher {
                grid-template-columns: repeat(2, auto);
                grid-column-gap: 70px;
                .teacher {
                    max-width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 576px ) {
    .mainIntroduce {
        .teacherStaff {
            .listTeacher {
                grid-template-columns: repeat(1, auto);
                grid-column-gap: 20px;
                .teacher {
                    max-width: 100%;
                }
            }
        }
    }
}