@import "./variables";

.CoursesUnit {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
    .nameCourse {
        font-weight: bold;
        font-size: 25px;
        color: $backgroundColorLight;
        background: $primaryColor;
        text-align: center;
        height: 85px;
        line-height: 80px;
        text-transform: capitalize;
    }
    .contentMain {
        display: flex;
        .contentLeft {
            width: 32.2%;
            height: 1580px;
            background: red;
            padding-top: 30px;
            .unitCourse {
                border-radius: 10px;
                box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
                background: $backgroundColorLight;
                font-weight: bold;
                font-size: 20px;
                text-align: center;
                color: $primaryColor;
                width: 90%;
                height: 62px;
                line-height: 57px;
                margin: 0 auto;
                margin-bottom: 30px;
                cursor: pointer;
            }

            .active {
                background: $primaryColor;
                color: $backgroundColorLight;
            }
        }
        .contentRight{
            width: 67.8%;
            margin: 0 20px;
            padding-top: 30px;
            .lessonOfGroup {
                display: grid;
                grid-template-columns: repeat(3, auto);
                .itemGroup {
                    height: 62px;
                    font-size: 25px;
                    font-weight: bold;
                    background: $backgroundColorLight;
                    color: $primaryColor;
                    text-align: center;
                    line-height: 58px;
                    border-bottom: 2px solid black;
                    cursor: pointer;
                }
                .activeGroup {
                    background: $primaryColor;
                    color: $backgroundColorLight;
                    border: 1px solid $primaryColor;
                    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
                }
            }
            .lessonDetail {
                border: 1px solid black;
                margin-top: 30px;
                height: 500px;
                .nameTask {
                    font-weight: bold;
                    font-size: 18px;
                    color: $primaryColor;
                    margin-bottom: 30px;
                }
                .lesson {

                }
                .formAction {
                    margin-top: 30px;
                    .btnAction {
                        border: 1px solid $primaryColor;
                        background: #FFF2F2;
                        border-radius: 7px;
                        color: $primaryColor;
                        width: 124px;
                        height: 35px;
                        margin-top: 30px;
                    }
                }
            }
        }   
    }
}