@import './variables.scss';

a {
    color: inherit;
    text-decoration: none;
}

*, p, h1, h2, h3 {
    box-sizing: border-box;
    // color: inherit;
    // font: inherit;
    padding: 0;
    margin: 0;
}

.main-content {
    max-width: 1170px;
    // width: 62.94%;
    margin: 0 auto;
}

.disableContent {
    display: none;
}

.ant-layout-header {
    background-color: #7dbcea !important;
}

.ant-layout-content {
    background-color: #f0f2f5 !important;
    min-height: 100vh !important;
}

.ant-layout-sider {
    background-color: #3ba0e9 !important;
}

.ant-layout-content {
    background: $backgroundColorLight !important;
}

.inputPhone {
    .react-tel-input .selected-flag {
        width: 40px;
    }
    .react-tel-input .form-control {
        width: 100% !important;
        border-radius: 3px;
        height: 40px;
        border: 1px solid #d9d9d9;
    }
}

.signupModal {
    .ant-modal-header {
        border-bottom: none !important;
    }
    .ant-modal-title {
        text-align: center;
        color: #030504;
        font-size: 20px;
    }
}


.teacherCarousel {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 677px;
    text-align: center;
    overflow: hidden;

    .header {
        padding-top: 30px;
        .title {
            font-size: 30px;
            font-weight: bold;
            color: $backgroundColorLight;
            text-transform: uppercase;
        }
        
        .lineBottom {
            border: 2px solid white;
            width: 7%;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 28px;
            border-radius: 2px;
        }
    }

    .sliderCustom {
        margin: 0 auto;
        padding-left: 20px;
        .slick-prev {
            top: 168px;
        }
        .slick-next {
            top: 168px;
        }
        .slick-list {
            .item-slider {
                .image-item {
                    width: 93%;
                    height: 337px;
                    border: 2px solid $backgroundColorLight;
                    object-fit: cover;
                }
            }
        }
        .footerInfo {
            color: $backgroundColorLight;
            display: grid;
            margin-top: 20px;
            width: 93%;
            .nameInfo {
                font-size: 16px;
                text-transform: uppercase;
                font-weight: bold;
                margin-bottom: 10px;
            }
            .experience {
                font-weight: bold;
                font-size: 13px;
            }
        }
        .slick-dots {
            bottom: -70px;
            padding-right: 40px
        }
        .slick-dots li button:before {
            font-size: 15px;
            color: $backgroundColorLight;
            opacity: 100%;
        }
        .slick-dots li.slick-active button:before {
            color: $primaryColor;
        }
    }
}

.feelCarousel {
    height: 290px;
    margin: 0 auto;
    margin-bottom: 60px;
    .slick-prev {
        color: $blackColor;
        left: 0px;
        z-index: 1;
        top: 47%;
    }
    .slick-next {
        color: $blackColor;
        right: 2px;
        z-index: 1;
        top: 47%;
    }
    .slick-prev:before, .slick-next::before {
        color: $blackColor;
    }
    .slick-prev:hover, .slick-next:hover {
        color: #6d6868;
    }
    .slick-dots {
        display: none !important;
    }
    .header {
        .title {
            font-size: 30px;
            font-weight: bold;
            color: $blackColor;
            text-transform: uppercase;
        }
        
        .lineBottom {
            border: 2px solid $primaryColor;
            width: 11%;
            margin-top: 10px;
            margin-bottom: 30px;
            border-radius: 2px;
        }
    }

    .slick-list {
        margin-left: 27px;
    }
}

.register-try-free {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 140px;
    margin-bottom: 150px;
    background-image: url('/home/bgRegister.png');
    height: 600px;
    .form-register {
        width: 58%;
        margin: 0 auto;
        .header {
            label {
                font-size: 30px;
                font-weight: bold;
                color: $backgroundColorLight;
                text-transform: uppercase;
            }
            p {
                max-width: 83%;
                margin: 0 auto;
                font-weight: bold;
                color: $backgroundColorLight;
                font-size: 18px;
                padding-bottom: 60px;
                padding-top: 15px;
            }  
        } 
        .main {
            .input-item {
                border-radius: 10px;
                height: 60px;
                font-size: 20px;
                font-weight: bold;
            }
            .select-item {
                .ant-select-selector {
                    border-radius: 10px;
                    height: 60px;
                    font-size: 20px;
                    font-weight: bold;
                    .ant-select-selection-placeholder {
                        padding-top: 10px;
                        text-transform: capitalize;
                        text-align: start;
                    }
                    .ant-select-selection-item {
                        padding-top: 10px;
                    }
                }
            }
            .row-btn-submit {
                margin-top: 60px;
                .btn-submit-form-register {
                    width: 41.8%;
                    height: 60px;
                    background: $primaryColor;
                    border: none;
                    border-radius: 8px;
                    font-size: 20px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
            .ant-form-item-explain.ant-form-item-explain-error {
                font-size: 15px;
                font-weight: bold;
                text-align: start;
            }
        }
    }
}

.footer-home {
    height: 675px;
    background: $blueDarkFooter;
    padding-top: 55px;
    .content-footer {
        width: 65%;
        height: 100%;
        margin: 0 auto;
        color: $backgroundColorLight;
        .footer-left {
            label {
                font-weight: bold;
                font-size: 25px;
                margin-bottom: 10px;
                text-transform: uppercase;
            }
            .address {
                margin-top: 15px;
                svg {
                    font-size: 20px;
                    transform: translate(-15%, 23%);
                }
                label {
                    font-weight: normal;
                    font-size: 16px;
                    margin-left: 20px;
                }
            }
            .phone {
                margin-top: 15px;
                margin-bottom: 25px;
                svg {
                    font-size: 20px;
                    transform: translate(-8%, 23%);
                }
                label {
                    font-weight: normal;
                    font-size: 16px;
                    margin-left: 20px;
                }
            }
            .social {
                .list-social {
                    margin-top: 20px;
                    .item-social {
                        padding: 14px 13.5px;
                        background: $backgroundColorLight;
                        border-radius: 50%;
                        margin-right: 15px;
                        .facebook {
                            font-size: 20px;
                            color: $blueLightColor;
                            transform: translate(0px, 3px);
                        }
                        .youtube {
                            font-size: 20px;
                            color: $redColor;
                            transform: translate(0px, 3px);
                        }
                        .other {
                            font-size: 20px;
                            color: $blackColor;
                            transform: translate(0px, 3px);
                        }
                    }
                }
            }
        }
        .footer-right {
            label {
                text-transform: uppercase;
                font-size: 25px;
                font-weight: bold;
            }
            p {
                font-size: 16px;
                margin: 15px 0 45px 0;
            }
            .footer-form-register {
                .input-item {
                    border-radius: 6px;
                    height: 46px;
                    font-size: 18px;
                    font-weight: bold;
                }
                .select-item {
                    .ant-select-selector {
                        border-radius: 6px;
                        height: 46px;
                        font-size: 18px;
                        font-weight: bold;
                        .ant-select-selection-placeholder {
                            padding-top: 3px;
                            text-transform: capitalize;
                            text-align: start;
                        }
                        .ant-select-selection-item {
                            padding-top: 3px;
                        }
                    }
                }
                .row-btn-submit {
                    .btn-submit-form-register {
                        width: 100%;
                        height: 46px;
                        background: $primaryColor;
                        border: none;
                        border-radius: 8px;
                        font-size: 18px;
                        font-weight: bold;
                        text-transform: uppercase;
                        margin-top: 42px;
                    }
                }
                .ant-form-item-explain.ant-form-item-explain-error {
                    font-size: 15px;
                    font-weight: bold;
                    text-align: start;
                }
            }
        }
    }
}

.paging-custom {
    .ant-pagination-item-active {
        background: $primaryColor;
        border: none;
        a {
            color: $backgroundColorLight;
        }
    }
    .ant-pagination-item:hover {
        background: $primaryColor;
        border: none;
        a {
            color: $backgroundColorLight;
        }
    }
    .ant-pagination-next:hover {
        .ant-pagination-item-link {
            background: $primaryColor;
            color: $backgroundColorLight;
            border: none;
        }
    }
    .ant-pagination-prev:hover {
        .ant-pagination-item-link {
            background: $primaryColor;
            color: $backgroundColorLight;
            border: none;
        }
    }

    .ant-pagination-disabled{
        .ant-pagination-item-link:hover {
            color: rgba(0, 0, 0, 0.25);
            border: 1px solid #d9d9d9;
            cursor: not-allowed;
            background: none;
        }
    }
}



@media screen and (max-width: 992px) { 
    .homeNews { 
        .content {
            grid-template-columns: repeat(2, auto);
            display: inline-flex;
        }
    }

    .register-try-free {
        height: auto;
        .form-register {
            .main {
                .row-btn-submit {
                    .btn-submit-form-register {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1257px) { 
    .ant-layout-header {
        .social_contact_header {
            height: 35px;
            display: flex;
            justify-content: center
        }
    }
}

@media screen and (max-width: 576px) { 
    .ant-layout-header {
        height: auto;
        .ant-row {
            text-align: center;
            .header_right {
                display: initial;
                margin-bottom: 20px;
            }
        }
    }

    .footer-home {
        height: auto;
        .footer-right {
            margin-top: 50px;
        }
    }
}

@media screen and (max-width: 480px) { 
    .feelCarousel { 
        width: 100%;
        .header {
            text-align: center;
            .lineBottom {
                margin: 0 auto;
                margin-top: 10px;
                margin-bottom: 30px;
            }
        }
    }

    .homeNews {
        .header {
            text-align: center;
            .lineBottom {
                margin: 0 auto;
                margin-bottom: 30px
            }
        } 
        .content {
            grid-template-columns: repeat(2, auto);
            display: block;
            .item-news {
                margin-bottom: 20px;
            }
        }
    }

    .pageTitleViewPersonal {
        width: auto !important;
    }
}

.pageTitleView {
    padding: 20px 10px;
    background-color: $backgroundColorLight;
    font-size: 17px;
    text-transform: uppercase;
    span:last-child a {
        color: $primaryColor;
    }
    a:hover {
        color: $primaryColor;
    }
    .pageTitle {
        color: $primaryColor;
    }
}

.pageTitleViewPersonal {
    width: 40%;
    text-align: center;
    height: 36px;
    line-height: 36px;
    border-radius: 20px;
    background-color: $backgroundColorLightLow;
    font-size: 16px;
    .ant-breadcrumb-link:hover {
        color: $primaryColor;
        font-weight: 600;
        cursor: pointer;
    }
    .pageTitle {
        color: $primaryColor;
        font-weight: 600;
    }
}

.bg-white {
    background-color: white;
}