@import "./variables";

.newsWrapper {
    background-color: #f0f2f5;
}

.mainNews {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 96px;
    .newsView {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-column-gap: 10px;
        background-color: $backgroundColorLight;
        padding: 0px 10px;
        .newsItem {
            margin-bottom: 10px;
            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            overflow: hidden;
            padding-bottom: 10px;
            position: relative;

            .badge {
                background-color: #ff0000;
                color: #fff;
                top: 0;
                right: 0;
                z-index: 10;
                width: 58px;
                position: absolute;
                text-align: center;
                font-size: 15px;
                padding: 8px 0px;
                border-bottom-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .coursePriceView {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0px 10px;
                font-size: 16px;
                font-weight: 400;
            }

            .courseOriginPrice {
                color: #888888;
                font-size: 12px;
                text-decoration: line-through;
            }

            .coursePrice {
                color: #ff0007;
            }

            .courseTitle {
                text-transform: unset !important;
            }

            .newsTitle {
                color: $blackColor;
                font-size: 16px;
                padding: 10px;
                font-weight: bold;
                text-transform: uppercase;
                min-height: 70px;
            }
            .newsDesc {
                color: $blackColor;
                font-size: 12px;
                padding: 0px 10px;
                min-height: 54px;
            }
            .newsImageContainer {
                width: 100%;
                height: 320px;
                overflow: hidden;
                z-index: 1;
            }

            .newsImage {
                width: 100%;
                height: 320px;
                object-fit: cover;
                align-self: center;
            }

            .btnDetail {
                border: 1px solid $primaryColor;
                border-radius: 3px;
                width: 25%;
                height: 30px;
                margin: 0 auto;
                text-align: center;
                line-height: 28px;
                color: $primaryColor;
                margin-top: 15px;
                margin-bottom: 24px;
                cursor: pointer;
            }
        }
    }
}

.newsDetailWrapper {
    background-color: $backgroundColorLight;
}

.newsDetail {
    padding: 0px 20px 20px 20px;
    h1 {
        font-size: 15px;
        color: $blackColor;
        margin-bottom: 20px;
    }
    .newsImageView {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .newsImage {
        width: 100%;
        // height: 320px;
        object-fit: cover;
        align-self: center;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .lineBottom {
        border-bottom: 1px solid $grayColor;
        opacity: 30%;
        margin-top: 42px;
        margin-bottom: 60px;
    }
}

.newView {
    margin-top: 30px;
    .newTitleHeader {
        height: 55px;
        align-items: center;
        text-align: center;
        color: $backgroundColorLight;
        font-size: 17px;
        background-color: $primaryColor;
        vertical-align: middle;
        line-height: 55px;
        margin: 0;
    }

    .newList {
        border: 1px solid #e1e1e1;
        border-top: none;
        padding: 0px 10px;
        display: block;
        overflow: hidden;
        padding-top: 23px;
        .newItem {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .newImage {
                width: 120px;
                height: 69px;
                object-fit: cover;
            }

            .newRight {
                flex: 1;
                padding-left: 10px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                .newTitle {
                    font-size: 15px;
                    color: #3e3e3e;
                    padding-bottom: 10px;
                    line-height: 20px;
                    display: block;
                    display: -webkit-box;
                    max-width: 100%;
                    height: 43px;
                    font-size: 15px;
                    line-height: 1;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .newTimeView {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    .newTime {
                        font-size: 10px;
                        color: #bbbbbb;
                        padding-left: 8px;
                    }

                    img {
                        width: 9px;
                        height: 10px;
                        object-fit: contain;
                    }
                }
            }
        }

        .lineBottom {
            border: 1px solid $grayColor;
            margin-top: 10px;
            margin-bottom: 23px;
            opacity: 30%;
        }
    }
}

.row-relate {
    .new-relate {
        .title-news {
            width: 93.8%;
            margin: 0 auto;
            margin-bottom: 20px;
            label {
                font-size: 30px;
                font-weight: bold;
                text-transform: uppercase;
            }
            .line-bottom {
                border-bottom: 5px solid $primaryColor;
                width: 5.6%;
            }
        }

        .news-relate-slider {
            .sliderCustom {
                .slick-prev {
                    color: $blackColor;
                    left: 0px;
                    z-index: 1;
                    top: 47%;
                }
                .slick-next {
                    color: $blackColor;
                    right: -5px;
                    z-index: 1;
                    top: 47%;
                }
                .slick-prev:before,
                .slick-next::before {
                    color: $blackColor;
                }
                .slick-prev:hover,
                .slick-next:hover {
                    color: #6d6868;
                }
                .slick-list {
                    width: 95.8%;
                    margin: 0 auto;
                }
                .newsView {
                    margin: 0 auto;
                    display: grid;
                    grid-template-columns: repeat(3, auto);
                    grid-column-gap: 10px;
                    background-color: $backgroundColorLight;
                    padding: 0px 10px;
                    .newsItem {
                        margin-bottom: 10px;
                        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
                        border-radius: 10px;
                        overflow: hidden;
                        padding-bottom: 10px;
                        .newsTitle {
                            color: $blackColor;
                            font-size: 16px;
                            padding: 10px;
                            font-weight: bold;
                            text-transform: uppercase;
                            min-height: 70px;
                        }
                        .newsDesc {
                            color: $blackColor;
                            font-size: 12px;
                            padding: 0px 10px;
                            min-height: 54px;
                        }
                        .newsImage {
                            width: 100%;
                            height: 320px;
                            object-fit: cover;
                            align-self: center;
                        }
                        .btnDetail {
                            border: 1px solid $primaryColor;
                            border-radius: 3px;
                            width: 25%;
                            height: 30px;
                            margin: 0 auto;
                            text-align: center;
                            line-height: 28px;
                            color: $primaryColor;
                            margin-top: 15px;
                            margin-bottom: 24px;
                            cursor: pointer;
                        }
                    }
                }
                .coursesView {
                    grid-column-gap: 30px;
                    grid-row-gap: 35px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .mainNews {
        .newsView {
            grid-template-columns: repeat(2, auto);
        }
    }

    .newView {
        margin-top: 30px;
        .newTitleHeader {
            height: 55px;
            align-items: center;
            text-align: center;
            color: $backgroundColorLight;
            font-size: 17px;
            background-color: $primaryColor;
            vertical-align: middle;
            line-height: 55px;
        }

        .newList {
            .newItem {
                display: block;
                .newImage {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .newRight {
                    padding-top: 10px;
                    padding-left: 0;
                    .newTitle {
                        padding: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .mainNews {
        .newsView {
            grid-template-columns: repeat(1, auto);
        }
    }
}
