@import './variables';

.headerPersonal {
    text-align: center;
    position: relative;
    .backgroundImage {
        border: none;

        .imageHeader {
            height: 246px;
        }

        .add {
            position: absolute;
            top: 0;
            right: 0;
            background: $grisLightColor;
            border-radius: 5px;
            cursor: pointer;
            font-weight: 600;
            transform: translate(-50px, 190px);
            width: 14.5%;
        }

        .ant-image {
            width: 100%;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            text-align: center;
        }
    }

    .avatar {
        position: absolute;
        left: 50%;
        // bottom: call(160px/2);
        bottom: 80px;
        transform: translate(-50%);
        .ant-avatar {
            border: 2px solid $backgroundColorLight;
        }
        .iconCamera {
            position: absolute;
            top: 0;
            transform: translate(-41px, 103px);
            background: $grisLightColor;
            border-radius: 50%;
            cursor: pointer;
        }
    }

    .rateHeader {
        width: 100%;
        height: 125px;
        padding-top: 47px;
        margin-bottom: 10px;
        label {
            font-size: 18px;
            font-weight: bold;
        }
        p {
            font-size: 12px;
            font-weight: bold;
        }
        .lineBottom {
            border-bottom: 1px solid $grayColor;
            margin: 0 auto;
            width: 96.67%;
            margin-top: 10px;
        }
    }
}

.contentPersonal {
    border: 1px solid $grisColor;
    margin-bottom: 100px;
    margin-top: 20px;
    .affixMenu {
        width: 0;
        height: 0;
        border-left: 17px solid transparent;
        border-right: 17px solid transparent;
        border-bottom: 23px solid $primaryColor;
        transform: rotate(90deg);
        margin-top: 5px;
        cursor: pointer;
        svg {
            top: 0;
            right: 0;
            transform: translate(-6px, 3px);
            color: $backgroundColorLight;
        }
    }

    .navInput:checked ~ .overlay {
        display: block;
    }

    .navInput:checked ~ .navMobile {
        transform: translateX(0%);
        opacity: 1;
    }

    .navInput:checked ~ .navBarsBtn {
        display:  none;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: none;
        animation: fadeIn linear 0.2s;
        z-index: 1;
    }

    .navMobile {
        z-index: 12;
        position: fixed;
        top: 100px;
        left: 0;
        bottom: 0;
        width: 320px;
        max-width: 100%;
        background-color: $backgroundColorLight;
        transform: translateX(-100%);
        opacity: 0;
        transition: all linear 0.2s;
        .navMobileClose {
            font-size: 20px;
            color: $primaryColor;
            position: absolute;
            top: 0.4rem;
            right: 1rem;
        }
        .ulMenuLeft {
            padding-top: 50px;
            .liMenuLeft {
                list-style-type: none;
                width: 292px;
                margin: 0 auto;
                border-radius: 5px;
                font-weight: 600;
                font-size: 16px;
                margin-bottom: 10px;
                span:hover {
                    color: $primaryColor;
                }

                &:hover {
                    background: $backgroundColorLightLow;
                    color: $primaryColor;
                    cursor: pointer;
                }
            }
        }
    }

    .displayNone {
        display: none;
    }

    .contentLeft {
        border-right: 1px solid $grisColor;
        padding-top: 15px;
        .ulMenuLeft {
            .liMenuLeft {
                list-style-type: none;
                width: 292px;
                margin: 0 auto;
                border-radius: 5px;
                font-weight: 600;
                font-size: 16px;
                margin-bottom: 10px;
                span:hover {
                    color: $primaryColor;
                }

                &:hover {
                    background: $backgroundColorLightLow;
                    color: $primaryColor;
                    cursor: pointer;
                }
            }

            .defaultActive {
                background: $backgroundColorLightLow;
                color: $primaryColor;
            }

            .active {
                background: $backgroundColorLightLow;
                color: $primaryColor;
            }

        }
    }
    .contentRight {
        padding: 15px 12px 45px 12px;
        .infoContent {
            .lineBottom {
                border-bottom: 1px solid $grayColor;
            }
            .title {
                border: 1px solid $backgroundColorLight;
                background: $backgroundColorLightLow;
                color: $primaryColor;
                border-radius: 20px;
                font-size: 16px;
                font-weight: 600;
                text-align: center;
                width: 23.57%;
                height: 36px;
                line-height: 34px;
                margin-bottom: 15px;
            }

            .formItem {
                display: flex;
                padding: 12.5px 0;
                .titleItem {
                    line-height: 32px;
                    font-size: 16px;
                    font-weight: 600;
                    width: 27%;
                    padding-left: 13px;
                }
                .ant-form-item {
                    width: 63%;
                    margin: 0;
                    label {
                        font-size: 16px;
                        font-weight: 600;
                    }
                    .ant-input {
                        font-size: 16px;
                        font-weight: bold;
                    }
                    .ant-input-disabled {
                        background: $backgroundColorLight;
                        color: $blackColor;
                        border: 1px solid $backgroundColorLight;
                        cursor: default;
                        font-size: 16px;
                        font-weight: bold;
                    }

                    .react-tel-input {
                        font-size: 16px;
                        font-weight: bold;
                        input {
                            font-size: 16px;
                            width: 100%;
                        }
                    }

                    .disable-flag {
                        border: 1px solid $backgroundColorLight;
                    }

                    .react-tel-input :disabled {
                        border: 1px solid $backgroundColorLight;
                        cursor: default;
                        .flag-dropdown {
                            border: 1px solid $backgroundColorLight;
                        }
                    }

                    .ant-picker-middle {
                        font-size: 16px;
                            width: 50%;
                        cursor: default;
                        input {
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }

                    .ant-picker-disabled {
                        background: $backgroundColorLight;
                        border: 1px solid $backgroundColorLight;
                        input[disabled] {
                            color: $blackColor;
                            font-size: 16px;
                            font-weight: bold;
                            cursor: default;
                        }
                    }

                    .ant-radio-wrapper {
                        height: 35px;
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 40px;
                        .ant-radio-inner {
                            border-radius: 0;
                            height: 20px;
                            width: 20px;
                        }
                        .ant-radio-inner::after {
                            border-radius: 0;
                            height: 12px;
                            width: 12px;
                        }
                    }

                    .ant-radio-wrapper-disabled {
                        .ant-radio-disabled {
                            input {
                                cursor: default;
                            }
                            .ant-radio-inner {
                                cursor: default;
                            }
                            .ant-radio-inner::after {
                                background-color: $blueRadioColor;
                            }
                        }
                        span {
                            cursor: default;
                            color: $blackColor;
                        }
                    }

                    .ant-select {
                        .ant-select-selector {
                            color: $blackColor;
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }

                    .ant-select-disabled {
                        .ant-select-selector {
                            background: $backgroundColorLight;
                            border: 1px solid $backgroundColorLight;
                            cursor: default; 
                        }
                        .ant-select-arrow {
                            display: none;
                        }
                    }

                    .ant-input-affix-wrapper-disabled {
                        background: $backgroundColorLight;
                        border: 1px solid $backgroundColorLight;
                        padding-top: 3px;
                        padding-bottom: 3px;
                        cursor: default;
                        .ant-input-suffix {
                            display: none;
                        }
                    }
                }
                .editItem {
                    width: 20%;
                    text-align: end;
                    padding-right: 5px;
                    font-weight: 600;
                    color: $primaryColor;
                    label {
                        cursor: pointer;
                        font-size: 16px;
                    }
                }
            }
            
            .personalInfo {
                .formItem {
                    .address {
                        width: 65%;
                        .select {
                            display: flex;
                        }
                        .textArea {
                            margin-top: 15px;
                            .ant-form-item {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .accountInfo {
                padding-top: 15px;
            }

            .accountBank {
                padding-top: 15px;
                .title {
                    width: 29.05%;
                }
                .totalBank {
                    color: $greyColor;
                    padding-left: 13px;
                    padding-top: 20px;
                    font-size: 16px;
                }
                .addBank {
                    padding: 10px 0;
                    padding-left: 5px;
                    display: flex;
                    img {
                        width: 28.32%;
                    }
                    .btnAdd {
                        margin-left: 14px;
                        font-weight: 600;
                        font-size: 16px;
                        color: $redColor;
                        line-height: 139px;
                        span {
                            cursor: pointer;
                        }
                    }
                }
            }

            .btnSubmit {
                .ant-form-item {
                    margin: 0;
                    margin-top: 20px;
                    .ant-btn-primary {
                        background: $primaryColor;
                        border: none;
                    }
                    button {
                        width: 18%;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 0px;
                    }
                }
            }
        }
        .notiContent {
            .title {
                width: 130px;
                background: $backgroundColorLightLow;
                text-align: center;
                border-radius: 20px;
                height: 36px;
                line-height: 34px;
                color: $primaryColor;
                font-size: 16px;
                font-weight: 600;
            }
            .lineBottom {
                border-bottom: 1px solid $grayColor;
                opacity: 30%;
                margin-top: 15px;
            }
            .listNoti {
                .itemNoti {
                    display: flex;
                    margin-top: 20px;
                    .ant-image {
                        margin-right: 12px;
                    }
                    p {
                        width: 63%;
                        font-size: 16px;
                        font-weight: 600;
                    }
                    .btnDetail{
                        width: 24%;
                        text-align: end;
                        a {
                            border: 1px solid $primaryColor;
                            color: $primaryColor;
                            line-height: 72px;
                            padding: 5px 24px;
                            border-radius: 3px;
                        }
                    }
                }
            }
        }
        .notiDetail {
            .lineBottom {
                border-bottom: 1px solid $grayColor;
                opacity: 30%;
                margin-top: 15px;
            }
            .content {
                margin-top: 20px;
                text-align: center;
                .title {
                    max-width: 666px;
                    margin: 0 auto;
                    text-align: center;
                    margin-bottom: 15px;
                    label {
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
                .imageNotiDetail {
                    max-width: 792px;
                    max-height: 336px;
                    margin-bottom: 20px;
                }
                .description {
                    font-size: 17px;
                    text-align: start;
                    margin-bottom: 35px;
                }
            }
        }
        .cardContent {
            .title {
                width: 180px;
                background: $backgroundColorLightLow;
                text-align: center;
                border-radius: 20px;
                height: 36px;
                line-height: 34px;
                color: $primaryColor;
                font-size: 16px;
                font-weight: 600;
            }
            .lineBottom {
                border-bottom: 1px solid $grayColor;
                opacity: 30%;
                margin-top: 15px;
            }
            .listCourse {
                margin: 0 6px;
                margin-top: 20px;
                .itemCourse {
                    border-radius: 10px;
                    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
                    .headerCourse {
                        margin-bottom: 10px;
                        position: relative;
                        .ant-image {
                            width: 100%;
                        }
                        .salePercent {
                            position: absolute;
                            top: 0;
                            right: 0;
                            background: $redColor;
                            width: 44px;
                            height: 27px;
                            border-top-right-radius: 10px;
                            border-bottom-left-radius: 10px;
                            color: $backgroundColorLight;
                            font-weight: bold;
                            font-size: 12px;
                            p {
                                line-height: 27px;
                                text-align: center;
                            }
                        }
                    }
                    .bodyCourse {
                        margin: 0 9px;
                        label {
                            font-size: 14px;
                            font-weight: bold;
                            text-align: start;
                        }
                        .saleUpTo {
                            margin-top: 10px;
                            display: flex;
                            p {
                                width: 57%;
                                font-size: 10px;
                                font-weight: bold;
                            }
                            .priceSale {
                                width: 43%;
                                text-align: end;
                                font-size: 12px;
                                font-weight: bold;
                                color: $greyColor;
                                text-decoration: line-through;
                            }
                        }
                        .rateCourse {
                            display: flex;
                            .ant-rate {
                                font-size: 18px;
                                line-height: 28px;
                                width: 51%;
                                li {
                                    margin-right: 1px;
                                }
                            }
                            p {
                                margin: 0;
                                font-size: 18px;
                                font-weight: bold;
                                color: $redColor;
                                width: 50%;
                                text-align: end;
                            }
                        }
                        .btnDetail{
                            text-align: center;
                            margin-top: 15px;
                            padding-bottom: 15px;
                            a {
                                border: 1px solid $primaryColor;
                                color: $primaryColor;
                                padding: 5px 24px;
                                border-radius: 3px;
                            }
                        }
                    }
                }
            }
        }
        .cartDetail {
            .listUnit {
                margin-top: 50px;
                .item {
                    border: 1px solid #8C181B;
                    color: #8C181B;
                    width: 90.01%;
                    height: 62px;
                    padding: 12px 25px;
                    border-radius: 10px;
                    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
                    font-size: 20px;
                    font-weight: bold;
                    margin: 0 auto;
                }
            }
        }
        .vocabContent {
            .title {
                width: 180px;
                background: $backgroundColorLightLow;
                text-align: center;
                border-radius: 20px;
                height: 36px;
                line-height: 34px;
                color: $primaryColor;
                font-size: 16px;
                font-weight: 600;
            }
            .lineBottom {
                border-bottom: 1px solid $grayColor;
                opacity: 30%;
                margin-top: 15px;
            }
            .listVocab {
                .vocabItem {
                    margin-top: 15px;
                    .ant-row {
                        .ant-col {
                            line-height: 42px;
                            .vocab {
                                font-size: 16px;
                                font-weight: bold;
                            }
                            .spelling {
                                font-size: 16px;
                            }
                            .meaning {
                                font-size: 16px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
        .recordContent {
            .title {
                width: 180px;
                background: $backgroundColorLightLow;
                text-align: center;
                border-radius: 20px;
                height: 36px;
                line-height: 34px;
                color: $primaryColor;
                font-size: 16px;
                font-weight: 600;
            }
            .lineBottom {
                border-bottom: 1px solid $grayColor;
                opacity: 30%;
                margin-top: 15px;
            }
            .listRecord {
                .recordItem {
                    margin-top: 21px;
                    padding: 0 25px;
                    .theme {
                        label {
                            font-size: 16px;
                            font-weight: bold;
                        }
                        p {
                            margin-top: 15px;
                            font-size: 12px;
                            font-weight: 600;
                        }
                    }
                    .timeRecord {
                        text-align: end;
                        label {
                            color: $primaryColor;
                            font-size: 16px;
                            font-weight: 600;
                        }
                    }
                    .audioPlayer {
                        margin-top: 20px;
                        .control {
                            text-align: center;
                            img {
                                cursor: pointer;
                            }
                            .imgPlay {
                                margin: 0 50px;
                            }
                        
                        }
                        .iconDelete {
                            text-align: end;
                            img {
                                cursor: pointer;
                            }
                        }
                    }

                }
            }
            .btnRecordStart {
                height: 144px;
                background: $backgroundRecord;
                padding: 32px;
                width: 97.88%;
                margin: 0 auto;
                text-align: center;
                margin-top: 38px;
                .btnRecord {
                    border: 3px solid $grayColor;
                    background: $backgroundColorLight;
                    border-radius: 50%;
                    padding: 36.5px 6px;
                    position: relative;
                    cursor: pointer;
                    img {
                        transform: translate(0px, -2px);
                    }
                }
            }

            .btnRecordStop {
                height: 144px;
                background: $backgroundRecord;
                width: 97.88%;
                margin: 0 auto;
                text-align: center;
                margin-top: 38px;
                padding-top: 5px;
                .btnStopRecord {
                    background: $backgroundColorLight;
                    border: 3px solid $grayColor;
                    border-radius: 50%;
                    padding: 36.5px 6px;
                    position: relative;
                    cursor: pointer;
                    .anticon-pause {
                        font-size: 80px;
                        transform: translate(0px, 25px);
                    }
                }
            }

        }
    }
    .notiContentRight {
        padding-bottom: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media screen and (max-width: 768px) {
    .contentPersonal {
        .contentRight {
            .infoContent { 
                .personalInfo {
                    .title {
                        width: 35%;
                    }
                    .formItem {
                        .ant-picker {
                            width: 100%;
                        }
                        .address {
                            display: block;
                            .select {
                                display: block;
                                .ant-row {
                                    width: 100%;
                                    .ant-select {
                                        width: 100% !important;
                                    }
                                }
                            }
                            .textArea {
                                margin-top: 0;
                            }
                        }
                    }
                }
    
                .accountInfo {
                    .title {
                        width: 35%;
                    }
                }
            }       
        }
    }
}

@media screen and (max-width: 462px) {
    .headerPersonal {
        .backgroundImage {
            .add {
                transform: translate(-15px, 190px);
            }
        }
    }
    .contentPersonal {
        .contentRight {
            .infoContent {
                .personalInfo {
                    .title {
                        width: 175px;
                        margin: 0 auto;
                        margin-bottom: 15px;
                    }
                }
    
                .accountInfo {
                    .title {
                        width: 175px;
                        margin: 0 auto;
                        margin-bottom: 15px;
                    }
                }
    
                .btnSubmit {
                    text-align: center;
                    .ant-form-item {
                        .ant-btn-primary {
                            width: 175px;
                        }
                    }
                }
            }

            .notiContent { 
                .listNoti {
                    .itemNoti {
                        .btnDetail{
                            a {
                                padding: 5px 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}