$primaryColor: #8C181B;

$textColor: #124a63;
$textSecondary: #b3c5cd;
$greyColor: #888888;
$matterHornColor: #505050;
$grayColor: #707070;
$blueLightColor: #3B5999;
$redColor: #FF0000;
$blackColor: #000000;
$backgroundColor: #f9f9f9;
$backgroundColorLight: #ffffff;
$backgroundColorLightLow: #FFF2F2;
$backgroundRecord: #F0F2F5;
$backgroundDolorDark: #eef3f6;
$grisLightColor: #E4E6EB;
$grisColor: #8F8F8F;

$blueDarkFooter: #0A1529;
$hoverDarkBlue: #500505;
$activeMenuJadeBlue: #820909;
$blueRadioColor: #1890ff;
$fontFamily: "Poppins", sans-serif;
$boxShadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
