@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import '../../styles/variables';

.bannerImage {
    object-fit: cover;
}

.footer {
    color: #707070;
    text-align: center;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.email {
    color: $primaryColor;
    display: flex;
    align-items: center;
}
.icLogout {
    width: 15px;
}
.icEmail {
    margin-right: 10px;
}
.icUser {
    margin-right: 10px;
}
.header {
    background-color: #ffffff !important;
}


.headerRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.signup {
    color: $primaryColor;
    margin-right: 10px;
    border-left: 1px solid $primaryColor;
    padding: 0px 15px;
    margin: 4px 0px;
    height: 21px;
}

.btnSignup {
    padding: 0;
}

.icFb {
    padding: 0px 4px;
}

.icYoutube {
    padding: 0px 0px 0px 4px;
}

.menuWrapper {
    height: 100px;
    background-color: $primaryColor !important;

    .menuRight {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .menuItem {
        font-size: 17px;
        color: white;
    }
    .menuLogoItem {
        margin-top: 8px;
        display: block;
    }
    .menuInput {
        border-radius: 30px;
        width: 120px;
    }
    .iconSearch {
        width: 18px;
        color: #14b5d8;
    }
    .icCart {
        padding: 0px 12px;
    }
}

@media screen and (max-width: 960px) { 
    // display: none;
    .header {
        display: none;
    }
    .footer {
        height: auto;
    }
}
